version: 2
updates:
  # Backend Maven dependencies
  - package-ecosystem: "maven"
    directory: "/backend"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 3

  # Frontend npm dependencies
  - package-ecosystem: "npm"
    directory: "/frontend"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 3

  # GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 3