# IDE
.idea/
.vscode/
*.iws
*.iml
*.ipr

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Backend specific (Java/Maven)
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar
backend/HELP.md
backend/nul

# Frontend specific (Node.js)
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.env.*.local

# Database
*.db
*.sqlite

# Environment variables
.env
